html {
    overflow-y: hidden;
}

body {
    position: relative;
    margin: 0;
    font-family: "Segoe UI";

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url('../content/img/bg.png');
}

body section {
    min-height: 20vh;
}

#content {
    width: 800px;
    padding: 50px;

    color: #ecf0f1;
    background-color: rgba(255, 255, 255, 0.1);
}

#content .col {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

/* Presentation */

#c_summary h1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    font-size: 2.5em;
    font-variant: small-caps;
}

#logo {
    width: 150px;
    margin-right: 20px;
    margin-left: -20px;
    margin-top: -20px;
    margin-bottom: 20px;
}

/* Form */

#c_form { text-align: center; }
#c_form .f_title {
    font-size: 1.4em;
    font-variant: small-caps;
}
#c_form .f_subtitle {
    font-size: 0.7em;
    margin-bottom: 40px;
}

#c_form form input {
    margin: 1em;
    width: 70%;
    border-radius: 5px;
}

#email {
    color: #ecf0f1;
    padding: 15px 15px;
    border: 1px solid rgba(0, 159, 255, 0.2);
    transition: border-color 0.5s;
    background-color: transparent;
}

#email:focus { border-color: rgba(0, 159, 255, 0.8); outline: none; }

#c_form input[type="submit"] {
    color: black;
    padding: 10px 15px;
    border: none;
    background-color: white;
    font-variant: small-caps;
}