{% extends "layout.html.twig" %}

{% block hero_body %}
    <h1 class="title">Dons & boutique</h1>
    <h2 class="subtitle">Donnez au Téléthon, en échange d'avantages en jeu !</h2>
{% endblock %}

{% block content %}
    <div class="columns has-text-centered">
        <div class="column is-6">
            <a href="{{ path('shop_items') }}" class="button-kubithon">
                Achat sur la boutique
            </a>
            <p class="button-kubithon-subtitle">
                <strong>Faites un don et recevez des éléments et des avantages en jeu.</strong><br />
                Tous les revenus sont reversés au Téléthon, mais ces dons ne sont pas éligibles à une réduction d'impôts.
            </p>
        </div>
        <div class="column is-6">
            <a href="https://soutenir.afm-telethon.fr/kubithon" class="button-kubithon">
                Don libre
            </a>
            <p class="button-kubithon-subtitle">
                <strong>Faites un don simple sans aucune contrepartie en jeu.</strong><br />
                Ces dons sont déductibles à 66% des impôts !
            </p>
        </div>
    </div>
{% endblock %}
