{% trans_default_domain 'FOSUserBundle' %}
{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-4 mx-auto">

            <h4>Créer un compte</h4><br>
            {{ 'registration.check_email'|trans({'%email%': user.email}) }}

        </div>
    </div>

{% endblock content %}

{#{% block alerts %}#}
    {#{% for message in app.flashes('success') %}{% endfor %}#}
{#{% endblock %}#}