.button-kubithon {
    display: inline-block;

    position: relative;
    left: 25px;
    
    width: 400px;
    height: 70px;

    padding: 7px 50px 20px 0;
    margin-bottom: 1em;

    background: url('../images/button-kubithon.png');

    text-align: center;
    color: darken(#FFF, 2%);
    font-size: 1.6em;

    &:hover {
        color: white;
        text-shadow: 1px 1px 2px #DDD, 0 0 1em white, 0 0 0.2em white;
    }
}
