.kubithon-product, .tippy-popper {
    .confirm-popup {
        padding: .6em;

        h4 {
            font-size: 1.4em;
        }
        p {
            font-size: 1em;
            margin-bottom: .8em;
        }
    }
}

.message-header p {
    margin: .05em .4em;
}

.modal .modal-content h3 {
    font-size: 1.4em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    opacity: 0;
    animation: fadeIn .3s;

    &.is-active {
        opacity: 1;
    }
}
