.kubithon-product, .tippy-popper {
    .confirm-popup {
        padding: .6em;

        h4 {
            font-size: 1.4em;
        }
        p {
            font-size: 1.1em;
            margin-bottom: .8em;
        }
    }
}